body {
	background-color: #FA8072;
}

.container {
	display: flex;
}

.nav {
	background-color: #CD5C5C;
	width: 100px;
}

.nav ul {
	padding-left: 0px;
}

.nav li {
	background-color: #C94F4F; 
	list-style: none;
	padding-left: 0px;
	width: 100px;
	height: 50px;

	vertical-align: center;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;

}

.main {
	margin: 0px 0px 0px 50px;
}




